<!DOCTYPE html>
<html>
<head>
    <title>All Shortened URLs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">All Shortened URLs</h1>
        <ul class="list-group mt-4">
            {% for url in urls %}
                <li class="list-group-item">
                    <strong>Original URL:</strong>
                    <a href="{{ url[0] }}" target="_blank">{{ url[0] }}</a><br>
                    <strong>Shortened URL:</strong>
                    <a href="{{ url[1] }}" target="_blank">{{ url[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
